/* containers */
.wrapper{
width: 920px;
margin: 0 auto;

}


.logo{
background: transparent url(../img/logo.png) no-repeat bottom center;
width: 145px;
height: 60px;
text-indent: -9999px;
margin: 0 auto;
}

.legend{
text-align: center;
}

.legend span{
text-decoration:  line-through;
}

.content{
background: #2a3858 url(../img/logo-uady.png) no-repeat top center;
min-height: 529px;
}


.panel{
background: transparent url(../img/panel-bg.png) repeat;
width: 300px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

.panel .bd{
clear: both;
margin: 20px;
}

.panel .ft{
clear: both;
}

.panel h2{
background: #1a2744;
border-bottom: 1px solid #21386c;
padding: 5px;
}

/* buttons */

.button{
display: block;
cursor: pointer;
background: none;
border: none;
color: #fff;
font-size: 16px;
}

.button.confirm{
background: transparent url(../img/green-button.png) no-repeat top  left;
width: 119px;
text-align: center;
line-height: 50px;
}


input.button.confirm{
background: transparent url(../img/green-button.png) no-repeat top  left;
width: 119px;
text-align: center;
height: 50px;
}

.button.confirm:hover{
background-position: bottom left;
}

.button.close-session{
background: transparent url(../img/close-session-42x42.png) no-repeat top  center;
padding-top: 46px;
text-align: center;
height: 42px;
}

.button.close-session:hover{
color: maroon;
}


.tabs{
background: #3a4f7e;
overflow: hidden;
padding-bottom: 5px;
}

.tabs .wrapper{
width: 840px;
margin: 0 auto;

}

.tabs .step span{
font-weight: bold;
}



.tabs a{
color: #66ccff;
font-size: 14px;
}

.tabs a.disabled{
color: #88898a;
font-size: 12px;
}

.tabs a.current{
text-shadow: 0px 0px;
font-size: 18px;

}





.tabs li{
float: left;
margin-right: 70px;
}




input.text{
width: 200px
}


.signatures-source ul{
width: 332px;
margin: 0;
padding: 0;
height: 527px;
}

.signatures-added{
width: 332px;
margin: 0 auto;
padding: 0;
height: 527px;
}

.signatures-added ul{
margin: 0 auto;
}





.signatures-source ul li,
.signatures-added ul li{
margin: 20px 0;
cursor: pointer;
height: 32px;
line-height: 32px;
width: 320px;
display: block;
text-align: center;
}

.signatures-source ul li ul.details,
.signatures-added ul li ul.details{
display: none;
}

.signatures-source ul li ul.details li,
.signatures-added ul li ul.details li{
font-size: 12px;
line-height: 0;
margin: 0;
margin-left: 10px;
text-align: left;
background: yellow;
padding: 0;
height: auto;
}






.signature-source{
background: #ff6666 url(../img/drag-handler.png) no-repeat left center;

}





.signature-dropped{
color: #008040;
background: #80ff00;
padding-left: 18px;
margin: 20px 0;
height: 32px;
line-height: 32px;
width: 320px;
display: block;
text-align: center;
font-size: 14px;
}


.signature-dropped .remove{
background: #ff6666;
padding: 0 10px; 
}


.signature-dropped: first-child{
margin: 0;
}



.hidden{
display: none;
}

.visible{
display: inline;
}






