body{
color: #fff;
background: #2a3858;
}

form label{
display: block;
float: left;
width: 90px;
}

form input{
float: left;
}

a{
text-decoration: none;
color: #fff;
cursor: pointer;
}

table{
	width: 100%;
	text-align: center;
}

thead th{
	padding: 10px 0;
}

td{
	border: 1px solid #fff;
}




