/* general */
#header{
width: 100%;
height: 100px;
background: #1a2744;
border-bottom: 1px solid #21386c;
}

#footer{
width: 100%;
height: 50px;
background: #1a2744;
border-top: 1px solid #21386c;
text-align: center;
}

#footer p{
margin-top: 10px;
}


/* panels */

/*login */
.panel#login{
margin: 0 auto;
width: 390px;
padding-bottom: 50px;
margin-top: 50px;
}

.panel#login .ft{
text-align: right;
margin-right: 10px;
}

.panel#login .text{
width: 220px;
height: 28px;
margin-top: 10px;
font-size: 16px;
}

.panel#login label{
margin-top: 10px;
}


.panel #login{
padding: 20px 0;
}

.panel #login label{
margin-left: 30px;
}

.panel #login #submit{
margin-top: 10px;
margin-left: 130px;
}


/*inscripcion */
.panel#inscripcion{
margin: 0 auto;
width: 880px;
padding-bottom: 50px;
margin-top: 20px;
}

.panel#inscripcion .ft a{
float: right;
}


.panel#inscripcion .bd .signatures-source{
float: left;
}



.panel#inscripcion .bd .portfolio{
float: right;
width: 447px;
height: 597px;
background: transparent url(../img/portafolio-bg.png) no-repeat top  center;
}

.panel#inscripcion .bd .portfolio h3{
margin-left: 20px;
margin-bottom: 10px;
margin-top: 20px;
}

.panel#inscripcion .bd .portfolio h3{
margin-left: 20px;
margin-top: 20px;
}

.panel#inscripcion .bd .portfolio .signatures-target{
border: 1px dashed #fff;
height: 527px;
width: 407px;
margin: 0 auto;
}

.panel#inscripcion .bd .portfolio .signatures-target p{
margin-top: 250px;
text-align: center;
}



/* ui states */
.default-state .brand{
width: 350px;
}


.default-state .logo{
margin: 0 auto;
}

.default-state .legend{
clear: both;
font-size: 12px;
float: left;
}


.default-state .settings{
float: right;
}

.default-state .settings .controls{
float: left;
margin-top: -30px;  
}




.default-state .settings .user-info{
float: left;
margin-right: 20px;
font-size: 12px;
}


.default-state .settings .pic{
float: left;
margin-right: 5px;
margin-top: -20px;
}

.default-state .settings .pic img{
background: gray;
width: 55px;
height: 70px;
}



.default-state .settings .user-info .logged-user{
text-shadow: -20px -5px;
font-size: inherit;
color: #4b67a4;
text-decoration: underline;
}



